* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.full-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.field {
    margin-bottom: 15px;
}

.input-full {
    width: 100%;
}

.button-full {
    width: 100%;
}